body {
	width: 100%;
	margin: auto;
	font-family: "Open_sans_font";
}

footer {
	height: 152px;
	background-image: url("../Images/bg_footer.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

h2 {
	font-size: 1.375em;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	margin: 0;
}

hr {
	border-style: none;
	width: 150px;
	height: 3px;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(to right, #d31f44, white);
}

header {
	height: 900px;
	width: 100%;
	background-image: url("../Images/bg_header.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

header a{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

header h1 {
	font-size: 3.05em;
	color: white;
	text-align: center;
	font-weight: 600;
	margin-top: 285px;
	margin-bottom: 0px; 
}

header p {
	color: white;
	font-size: 2.2em;
	font-weight: 300;
	background-color: rgba(255, 255, 255, 0.15);
	text-align: center;
	margin: 20px 410px 0px 410px;
	padding: 5px 5px 5px 5px;
}

li {
	list-style: none;
}

nav {
	width: 100%;
	height: 90px;
	display: flex;
	background-color: rgba(0, 0, 0, 0.502);
}

nav img {
	width: 175px;
	height: 50px;
	padding: 20px 0px 20px 0px;
	margin-left: 360px;
	margin-right: 260px;
}

nav ul{
	display: flex;
	flex-direction: row;
	margin: 0;
}

nav li {
	margin: 0;
	color: white;
	width: 142px;
	height: 100%;
	line-height: 90px;
	font-size: 0.8em;
	text-transform: uppercase;
	text-align: center;
	justify-content: space-between;
}

nav li:hover {
	background-color: #d31f44;
}

span {
	font-weight: bold;
}

#Center {
	height: 830px;
}

#Contact {
	height: 785px;
	background-image: url("../Images/bg_contact.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#Gen {
	height: 480px;
	font-size: 0.625em;
}

#GenContent {
	display: flex;
	margin-left: 190px;
}

#Gen h2 {
	margin-top: 70px;
}

#GenC {
	margin-top: 70px;
	justify-content: center;
}

#GenL {
	width: 485px;
	margin-top: 130px;
	justify-content: left;
}

#GenL p {
	margin: 0px 0px 20px 0px;
}

#GenR {
	margin-top: 100px;
	justify-content: right;
	margin-left: 20px;
	width: 459px;
}

#GenR li::before {
	content: "•";
	color: red;
	padding-right: 5px;
}

#Genr ul {
	margin: 0;
	padding: 0;
}

#GenR p {
	margin-bottom: 20px;
}



#job {
	height: 565px;
	background-image: url("../Images/bg_job.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#Logo {
	height: 248px;
}

#Project {
	height: 450px;
}

#Teach {
	height: 445px;
	background-image: url("../Images/bg_teach.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#Testimony {
	height: 600px;
	background-image: url("../Images/bg_testimony.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#TitlePro {
	height: 295px;
	background-image: url("../Images/bg_project.png");
	background-repeat: no-repeat;
	background-size: 100%;
}


@font-face {
	font-family: "Open_sans_font";
	font-weight: bold;
	src: url('../Examples/Open_sans_font/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: bold;
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-BoldItalic.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 800;
	src: url('../Examples/Open_sans_font/OpenSans-ExtraBold.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 800;
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-Italic.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 300;
	src: url('../Examples/Open_sans_font/OpenSans-Light.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 300;
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-LightItalic.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: normal;
	src: url('../Examples/Open_sans_font/OpenSans-Regular.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 600;
	src: url('../Examples/Open_sans_font/OpenSans-SemiBold.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 600;
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-SemiBoldItalic.ttf');
}
