@font-face {
	font-family: "Open_sans_font";
	font-weight: bold;
	src: url('../Examples/Open_sans_font/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: bold;
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-BoldItalic.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 800;
	src: url('../Examples/Open_sans_font/OpenSans-ExtraBold.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 800;
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-Italic.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 300;
	src: url('../Examples/Open_sans_font/OpenSans-Light.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 300;
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-LightItalic.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: normal;
	src: url('../Examples/Open_sans_font/OpenSans-Regular.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 600;
	src: url('../Examples/Open_sans_font/OpenSans-SemiBold.ttf');
}

@font-face {
	font-family: "Open_sans_font";
	font-weight: 600;
	font-style: italic;
	src: url('../Examples/Open_sans_font/OpenSans-SemiBoldItalic.ttf');
}

body {
	width: 100%;
	margin: auto;
	font-family: "Open_sans_font";
}

footer {
	height: 152px;
	background-image: url("../Images/bg_footer.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

h2 {
	font-weight: 600;
	font-size: 1.85em;
	text-transform: uppercase;
	margin: 0;
}

header {
	height: 900px;
	width: 100%;
	background-image: url("../Images/bg_header.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

header button{
	width: 196px;
	height: 45px;
	background-image: linear-gradient(to right, #d31f43, #9c0020);
	border: none;
	color: white;
	margin-top: 50px;
	margin-left: 45%;
	font-weight: 300;
}

header h1 {
	font-size: 3.05em;
	color: white;
	text-align: center;
	font-weight: 600;
	margin-top: 285px;
	margin-bottom: 0px; 
}

header p {
	color: white;
	font-size: 2.2em;
	font-weight: 300;
	background-color: rgba(255, 255, 255, 0.15);
	text-align: center;
	margin: 20px 410px 0px 410px;
	padding: 5px 5px 5px 5px;
}

hr {
	border-style: none;
	width: 150px;
	height: 3px;
	background-image: linear-gradient(to right, #d31f44, white);
}

li {
	list-style: none;
}

nav {
	width: 100%;
	height: 90px;
	display: flex;
	background-color: rgba(0, 0, 0, 0.502);
}

nav img {
	width: 175px;
	height: 50px;
	padding: 20px 0px;
	margin-left: 360px;
	margin-right: 260px;
}

nav ul{
	display: flex;
	margin: 0;
}

nav li {
	margin: 0;
	color: white;
	width: 142px;
	height: 100%;
	line-height: 90px;
	font-size: 0.8em;
	text-transform: uppercase;
	text-align: center;
	justify-content: space-between;
}

nav li:hover {
	background-color: #d31f44;
}

span {
	font-weight: bold;
}

#CeContent {
	width: 1200px;
	flex-direction: column;
}

#Center {
	height: 830px;
	display: flex;
	justify-content: center;
}

#Center h2 {
	margin: 60px 0 26px 0;
}

#Center hr {
	margin: 0 0 70px 0;
}

#Center ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#Center li {
	margin: 0 10px 5px 0px;
}

#CContent {
	flex-wrap: wrap;
	width: 1200px;
}

#CContent h2 {
	padding-top: 60px;
}

#CContent form input{
	border: none;
	width: 250px;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	text-transform: uppercase;
	border-bottom: 1px solid white;
}

#CContent form input:focus{
	outline: none;
}

#CContent input[name=mail] {
	width: 550px;
}

#CForm {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
}

#CForm div {
	height: 50px;
	margin-right: 50px;
}

#CHr {
	margin: 0;
	margin-top: 25px;
	margin-bottom: 75px;
	background-image: linear-gradient(to right, rgba(255, 255, 255,1), rgba(255, 255, 255,0));
}

#Contact {
	height: 785px;
	background-image: url("../Images/bg_contact.png");
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	display: flex;
	justify-content: center;
}

#CMess {
	display: flex;
	flex-direction: column;
}

#CMess textarea {
	background-color: rgba(255, 255, 255, 0);
}

#CText {
	width: 543px;
	font-weight: 300;
	font-size: 0.8em;
}

#Gen {
	height: 480px;
	font-weight: 600;
}

#Gen h2 {
	padding-top: 3%;
	margin-bottom: 20px;
	text-align: center;
}

#Gen hr {
	display: flex;
	justify-content: center;
}

#GenC {
	margin-top: 70px;
	height: auto;
	justify-content: center;
}

#GenContent {
	display: flex;
	justify-content: center;
	font-size: 0.78em;
}

#GenL {
	width: 485px;
	height: auto;
	margin: 130px 0px 0px 0px;
	justify-content: left;
	text-align: right;
}

#GenL p {
	margin: 0px 20px 20px 0px;
}

#GenR {
	margin-top: 100px;
	height: auto;
	justify-content: right;
	margin-left: 20px;
	width: 459px;
}

#GenR li::before {
	content: "•";
	color: red;
	padding-right: 5px;
}

#Genr ul {
	margin: 0;
	padding: 0;
}

#GenR p {
	margin-bottom: 20px;
}

#InscriptionButton {
	width: 196px;
	height: 45px;
	margin-top: 50px;
	text-align: center;
	line-height: 45px;
}



#InscriptionButton a:link, a:visited{
	display: block;
	width: 100%;
	text-decoration: none;
	border: 2px solid white;
	color: white;
}

#InscriptionButton a:hover {
	background-image: linear-gradient(to right, #d31f43, #9c0020);
	border-image: linear-gradient(to right, #d31f43, #9c0020);
}

#JContain {
	justify-content: center;
	flex-direction: column;
	width: 600px;
	height: 100%;
	color: white;
}

#JContain p {
	width: 540px;
	font-size: 0.87em;
	margin: 0;
}

#Job {
	height: 565px;
	background-image: url("../Images/bg_job.png");
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	justify-content: center;
}

#Job h2 {
	margin-top: 50px;
}

#Job hr {
	margin: 20px 0px 40px 0;
	background-image: linear-gradient(to right, rgba(255, 255, 255,1), rgba(255, 255, 255,0));
}

#Job iframe {
	margin-top: 130px;
}

#Logo {
	height: 248px;
}

#MonP {
	padding-top: 50px;
}

#PContent {
	width: 565px;
}

#Project {
	height: 450px;
	display: flex;
	justify-content: center;
}

#Project h2 {
	padding-top: 61px;
	padding-left: 40px;
}

#Project hr {
	margin: 15px 0px 32px 40px;
}

#Project img {
	width: 600px;
	height: 305px;
	padding-top: 80px;
}

#Project li{
	font-size: 0.8em;
	padding-bottom: 7px;
}

#Project li::before {
	content: "•";
	color: red;
	padding-right: 5px;
}

#Project p {
	padding-left: 40px;
	padding-bottom: 12px;
	font-size: 0.8em;
}

#TContent {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	padding-top: 65px;
}

#TContent p {
	margin-bottom: 50px;
	padding: 0px;
	margin-top: 0px;
}

#TContent #THead {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#TImg {
	margin-left: 77%;
	margin-top: 30px;
}
	
#Teach {
	height: 445px;
	background-image: url("../Images/bg_teach.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#Teach h2 {
	text-align: center;
	color: white;
	padding-top: 65px;
}

#Teach hr {
	margin-top: 20px;
	background-image: linear-gradient(to right, rgba(255, 255, 255,1), rgba(255, 255, 255,0));
}

#Teach li {
	width: 200px;
	margin-right: 2.4%;
	justify-content: center;
}

#Teach li img {
	margin-left: 60px;
}

#Teach li p {
	text-align: center;
	color: white;
	font-size: 0.8em;
	margin-top: 50px;
}

#Teach ul {
	display: flex;
	justify-content: center;
	padding-top: 2.5%;
}

#Testimony {
	height: 600px;
	background-image: url("../Images/bg_testimony.png");
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	display: flex;
	justify-content: center;
}

#Testimony a {
	width: 196px;
	height: 45px;
	border: 2px solid white;
	text-align: center;
	line-height: 45px;
	font-size: 0.8em;
}

#Testimony a:hover {
	background-image: linear-gradient(to right, #d31f43, #9c0020);
	border-image: linear-gradient(to right, #d31f43, #9c0020);
}

#Testimony a:link, a:visited {
	text-decoration: none;
}

#Testimony hr {
	margin: 20px 0px 40px 0;
	background-image: linear-gradient(to right, rgba(255, 255, 255,1), rgba(255, 255, 255,0));
}

#Testimony img {
	width: 51px;
	height: 39px;
}

#TitlePro {
	height: 295px;
	background-image: url("../Images/bg_project.png");
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	display: flex;
	justify-content: center;
}

#TitlePro p{
	width: 978px;
	height: 136px;
	text-align: center;
	font-size: 2.2em;
	font-weight: 300;
	padding-top: 40px;
}

#TText {
	width: 1201px;
	font-size: 1.34em;
	font-weight: 300;
}